form {
    
    flex-direction: column;
    display: flex;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--surface);
    color: var(--text);
}

fieldset {
    box-sizing: border-box;
    border: 2px solid var(--border);
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: var(--surface); 
    color: var(--text);
}

legend {
    font-size: 1.3em;
    padding: 0 10px 0 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 500;
}

input, textarea, select {

    background-color: var(--surface);
    color: var(--text);
    border: 2px solid var(--border);
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 12px; 
}


input:focus, textarea:focus, select:focus {
    border-color: var(--primary); 
    outline: none;
    box-shadow: 0 0 0 3px rgba(79, 209, 197, 0.3);
    
}
 
input[type="button"] {
    background-color: var(--primary);
    color: var(--text);
    border: none;
    padding: 12px 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; 
}

input[type="button"]:hover {
    background-color:  var(--secondary);
}

#data-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--surface);
    color: var(--text);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--border);
  }
  
  #data-table th {
      background-color: var(--primary);
      color: var(--surface);
      text-transform: uppercase;
      font-weight: bold;
    }
    #data-table th,
    #data-table td {
        border: 1px solid var(--border);
        padding: 12px 15px;
        text-align: left;
    }
    
    tr:nth-child(even){
        background-color: #20232f;
    }
    
    #data-table tr:hover {
        background-color: var(--highlight);
        color: var(--surface);
        cursor: default;
    }
    
    
 
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9998; 
    display: none; 
}

dialog {
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--surface); 
    color: var(--text); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border: 2px solid var(--border); 
    position: relative;
    z-index: 9999; 
    overflow: hidden;
}


dialog h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--primary); 
}


#dialog-msg {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: var(--text); 
}


dialog button {
    background-color: var(--primary); 
    color: var(--surface); 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out; 
}

dialog button:hover {
    background-color: var(--secondary); 
}

